.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 750px) {
  .nav {
    gap: 1rem;
  }
}

/* @media (max-width: 600px) {
  .nav {
    align-items: center;
    justify-content: center;
  }
} */
