.cards {
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin: 5rem auto;
  width: 95%;
  max-width: 85rem;
  padding-top: 4rem;
}

@media (max-width: 600px) {
  .cards {
    margin-top: 1rem;
    padding-top: 0;
  }
}
